.card_mine {
  /* border: 2px solid red; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 70px;
  width: 40%;
}
a {
  text-decoration: none;
}
p,
label {
  font-size: 20px;
}
.btn_me {
  display: block;
  width: 100%;
  border: none;
  background-color: #04aa6d;
  padding: 14px 28px;
  font-size: 20px;
  cursor: pointer;
  text-align: center;
}
